{% extends 'core/base.html' %}
{% load static %}


	{% block content %}	

			<!-- start banner Area -->
			<section class="about-banner relative" style="background: url(
								{% if banners.bannerAbout == '' %}
									{% static 'core/img/hero-bg.jpg' %}
				                {% else %}
					            	{{ banners.bannerAbout.url }}
				                {% endif %}
			) center;">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Internacional			
							</h1>	
							<p class="text-white link-nav"><a href="{% url 'core-home' %}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'internacional' %}"> Internacional</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start destinations Area -->
			<section class="destinations-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content pb-40 col-lg-8">
		                    <div class="title text-center">
		                        <h1 class="mb-10">Paquetes internacionales</h1>
		                        <p>Disfruta con toda tu familia</p>
		                    </div>
		                </div>
		            </div>						
					<div class="row">
				    {% for destino in destinos %}
						<div class="col-lg-4">
							<div class="single-destinations">
								<div class="thumb">
									<img src="{{ destino.image.url }}" style="height: 240px;">
								</div>
								<div class="details">
									<h4>{{ destino.destino }}</h4>
									<p>
										{% for pais in destino.pais.all %}{{ pais.name }}{% endfor %}
									</p>
									<ul class="package-list">
										<li class="d-flex justify-content-between align-items-center">
											<span>Agregado</span>
											<span>{{ destino.created }}</span>
										</li>

										<li class="d-flex justify-content-between align-items-center">
											<span>Extras</span>
											<span>Todo incluido</span>
										</li>
										<li class="d-flex justify-content-between align-items-center">
											<a href="{% url 'destino' destino.id %}" class="genric-btn info circle arrow">Click para ver información</a>
										</li>													
									</ul>
								</div>
							</div>
						</div>
				    {% endfor %}
																														
					</div>
				</div>	
		                    <nav class="blog-pagination justify-content-center d-flex">
		                        <ul class="pagination">
		                        	{% if destinos.has_previous %}
		                        	<li class="page-item"><a href="?page=1" class="page-link">first</a></li>
		                        	<li class="page-item">
		                                <a href="?page={{ destinos.previous_page_number }}" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
		                                </a>
		                            </li>
		                        	{% endif %} 
		                        	{% for num in destinos.paginator.page_range %}
		                  			  {% if destinos.number == num %}
											<li class="page-item active"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
									  {% elif num > destinos.number|add:'-3' and num < destinos.number|add:'3' %}
											<li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
								      {% endif %}
		                    		{% endfor %}   
		                    		{% if destinos.has_next %}
		                    		<li class="page-item">
		                                <a href="?page={{ destinos.next_page_number }}" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
		                                </a>
		                            </li>
									<li class="page-item"><a href="?page={{ destinos.paginator.num_pages }}" class="page-link">Last</a></li>

									{% endif %}                      
		                           
		                            
		                        </ul>
		                    </nav>
			</section>
			<!-- End destinations Area -->
			

			<!-- Start home-about Area -->
			<section class="home-about-area">
				<div class="container-fluid">
					<div class="row align-items-center justify-content-end">
						<div class="col-lg-6 col-md-12 home-about-left">
							<h1>
								{{ noticia.title }}
							</h1>
							<p>
								{{ noticia.content }}
							</p>
							<a href="{% url 'core-contact' %}" class="primary-btn text-uppercase">{{ noticia.btn }}</a>
						</div>
						<div class="col-lg-6 col-md-12 home-about-right no-padding">
							<img class="img-fluid" src="{{ noticia.image.url }}" alt="">
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->

	{% endblock content %}