{% extends "core/base.html" %}
{% load static %}

<!--{% block title %}Blog{% endblock title %}-->

{% block content %}

<section class="about-banner relative" id="home" style="background: url(
                {% if banners.bannerAbout == '' %}
                  {% static 'core/img/hero-bg.jpg' %}
                        {% else %}
                        {{ banners.bannerAbout.url }}
                        {% endif %}) bottom;">  
        <div class="overlay overlay-bg"></div>
        <div class="container">       
          <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content blog-header-content col-lg-12">
              <h1 class="text-white">
                {{bns.title }} 
              </h1> 
              <p class="text-white">
                {{bns.content }}
              </p>
              {% if bannerPrincipal.url == None %}
              {% else %}
              <a href="{{ bns.url }}" class="primary-btn">{{ bns.NameBtn }}</a>
              {% endif %}
              
            </div>  
          </div>
        </div>
      </section>
      <!-- End banner Area -->          

      <!-- Start post-content Area -->
      <section class="post-content-area mt-5">
        <div class="container">
          <div class="row">
              <div class="col-lg-8 posts-list">
            {% for post in category %}

              <div class="single-post row">

                <div class="col-lg-3  col-md-3 meta-details">

                  <ul class="tags">
                    {% for category in post.categories.all|slice:"4" %}
                       <li><a href="{% url 'category' category.id %}">{{ category.name }}</a></li>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </ul>

                  <div class="user-details row">
                    <p class="user-name col-lg-12 col-md-12 col-6"><a href="#">{{ post.author|title }}</a> <span class="lnr lnr-user"></span></p>
                    <p class="date col-lg-12 col-md-12 col-6"><a href="#">{{ post.published|date:"dS M, Y" }}</a> <span class="lnr lnr-calendar-full"></span></p>
                    <p class="view col-lg-12 col-md-12 col-6"><a href="#">{{ post.views }} Views</a> <span class="lnr lnr-eye"></span></p>
                    <!--<p class="comments col-lg-12 col-md-12 col-6"><a href="#">06 Comments</a> <span class="lnr lnr-bubble"></span></p>-->           
                  </div>
                </div>

                <div class="col-lg-9 col-md-9 ">
                  <div class="feature-img">
                    <img class="img-fluid mt-3" src="{{ post.image.url }}" alt="">
                  </div>
                  <a class="posts-title" href="{% url 'blog-single' post.id post.title|slugify %}"><h3>{{ post.title }}</h3></a>
                  <p class="excert">
                    {{ post.content|truncatewords:20 }}
                  </p>
                  <a href="{% url 'blog-single' post.id post.title|slugify %}" class="primary-btn">Ver más</a>
                </div>
              </div>
            {% endfor %}

                       <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                              {% if category.has_previous %}
                              <li class="page-item"><a href="?page=1" class="page-link">first</a></li>
                              <li class="page-item">
                                    <a href="?page={{ category.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-left"></span>
                                        </span>
                                    </a>
                                </li>
                              {% endif %} 
                              {% for num in category.paginator.page_range %}
                              {% if category.number == num %}
                                <li class="page-item active"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                              {% elif num > category.number|add:'-3' and num < category.number|add:'3' %}
                                <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                              {% endif %}
                              {% endfor %}   
                              {% if category.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ category.next_page_number }}" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="lnr lnr-chevron-right"></span>
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item"><a href="?page={{ category.paginator.num_pages }}" class="page-link">Last</a></li>

                              {% endif %}                        
                            </ul>
                        </nav>
                        
            </div>

            <div class="col-lg-4 sidebar-widgets">
              <div class="widget-wrap">
                <div class="single-sidebar-widget search-widget">
                  <form class="search-form" action="#">
                                  <input placeholder="Search Posts" name="search" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'" >
                                  <button type="submit"><i class="fa fa-search"></i></button>
                              </form>
                </div>
                <div class="single-sidebar-widget user-info-widget">
                  <img src="{% static 'core/img/blog/user-info.png' %}" alt="">
                  <a href="#"><h4>Charlie Barber</h4></a>
                  <p>
                    Senior blog writer
                  </p>
                  <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                  </ul>
                  <p>
                    Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.
                  </p>
                </div>

                <div class="single-sidebar-widget popular-post-widget">
                  <h4 class="popular-title">Post Populares</h4>

                  <div class="popular-post-list">
                    <div class="single-post-list d-flex flex-row align-items-center">
                      <div class="thumb">
                        <img class="img-fluid" src="{% static 'core/img/blog/pp1.jpg' %}" alt="">
                      </div>
                      <div class="details">
                        <a href="blog-single.html"><h6>Space The Final Frontier</h6></a>
                        <p>02 Hours ago</p>
                      </div>
                    </div>
                    <div class="single-post-list d-flex flex-row align-items-center">
                      <div class="thumb">
                        <img class="img-fluid" src="{% static 'core/img/blog/pp2.jpg' %}" alt="">
                      </div>
                      <div class="details">
                        <a href="blog-single.html"><h6>The Amazing Hubble</h6></a>
                        <p>02 Hours ago</p>
                      </div>
                    </div>
                    <div class="single-post-list d-flex flex-row align-items-center">
                      <div class="thumb">
                        <img class="img-fluid" src="{% static 'core/img/blog/pp3.jpg' %}" alt="">
                      </div>
                      <div class="details">
                        <a href="blog-single.html"><h6>Astronomy Or Astrology</h6></a>
                        <p>02 Hours ago</p>
                      </div>
                    </div>
                    <div class="single-post-list d-flex flex-row align-items-center">
                      <div class="thumb">
                        <img class="img-fluid" src="{% static 'core/img/blog/pp4.jpg' %}" alt="">
                      </div>
                      <div class="details">
                        <a href="blog-single.html"><h6>Asteroids telescope</h6></a>
                        <p>02 Hours ago</p>
                      </div>
                    </div>                              
                  </div>
                </div>
                <div class="single-sidebar-widget ads-widget">
                  <a href="#"><img class="img-fluid" src="{% static 'core/img/blog/ads-banner.jpg' %}" alt=""></a>
                </div>
                <div class="single-sidebar-widget post-category-widget">
                  <h4 class="category-title">Post Catgories</h4>
                  <ul class="cat-list">
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Technology</p>
                        <p>37</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Lifestyle</p>
                        <p>24</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Fashion</p>
                        <p>59</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Art</p>
                        <p>29</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Food</p>
                        <p>15</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Architecture</p>
                        <p>09</p>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="d-flex justify-content-between">
                        <p>Adventure</p>
                        <p>44</p>
                      </a>
                    </li>                             
                  </ul>
                </div>  
                <div class="single-sidebar-widget newsletter-widget">
                  <h4 class="newsletter-title">Newsletter</h4>
                  <p>
                    Here, I focus on a range of items and features that we use in life without
                    giving them a second thought.
                  </p>
                  <div class="form-group d-flex flex-row">
                     <div class="col-autos">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
                      </div>
                          </div>
                          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" >
                        </div>
                      </div>
                      <a href="#" class="bbtns">Subcribe</a>
                  </div>  
                  <p class="text-bottom">
                    You can unsubscribe at any time
                  </p>                
                </div>
                <div class="single-sidebar-widget tag-cloud-widget">
                  <h4 class="tagcloud-title">Tag Clouds</h4>
                  <ul>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Fashion</a></li>
                    <li><a href="#">Architecture</a></li>
                    <li><a href="#">Fashion</a></li>
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Art</a></li>
                    <li><a href="#">Adventure</a></li>
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Lifestyle</a></li>
                    <li><a href="#">Adventure</a></li>
                  </ul>
                </div>                
              </div>
            </div>
          </div>
        </div>  
      </section>
      <!-- End post-content Area -->   

{% endblock content %}
