{% extends 'core/base.html' %}
{% load static %}

	{% block content %}	
	  
			<!-- start banner Area -->
			<section class="about-banner relative" style="background: url(
								{% if banners.bannerAbout == '' %}
									{% static 'core/img/hero-bg.jpg' %}
				                {% else %}
					            	{{ banners.bannerAbout.url }}
				                {% endif %}
			) center;">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us				
							</h1>	
							<p class="text-white link-nav"><a href="{% url 'core-home' %}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'core-about' %}"> About Us</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start about-info Area -->
			<section class="about-info-area section-gap">
				<div class="container">

					<div class="row align-items-center">
						<div class="col-lg-6 info-left">
							<img class="img-fluid" src="{% static 'core/img/about/info-img.jpg' %}" alt="">
						</div>
						<div class="col-lg-6 info-right">
							<h6>Acerca de Nosotros</h6>
							<h1>Quienes somos?</h1>
							<p>
								Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
							</p>
						</div>
					</div>

					<div class="row align-items-center my-4 border" style="background-color: #F1F1F1">		
						<div class="col-lg-6 info-left">
							<h1>Misión</h1>
							<p>
								Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
							</p>
						</div>
						<div class="col-lg-6 info-center">
							<h1>Visión</h1>
							<p>
								Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
							</p>
						</div>
					</div>

					<div class="row align-items-center">
						<div class="col-lg-6 insurence-left">
							<img class="img-fluid img-one" src="{% static 'core/img/insurence/i1.jpg' %}" alt="">
						</div>
						<div class="col-lg-6 insurence-right">
							<h6 class="text-uppercase">Cosas que debes de saber</h6>
							<h1>Que ofrecemos?</h1>
							<p>
								Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
							</p>
							<div class="list-wrap">
								<ul>
									<li>Strategic approach towards redesigning brand.</li>
									<li>logo design strategy ensures a perfectly crafted
									logo for your business.</li>
									<li>Branding that stands out in the crowd.</li>
									<li>Modern and evergreen logo for your business.</li>
								</ul>
							</div>
						</div>
					</div>					
				</div>	
			</section>
			<!-- End about-info Area -->

	{% endblock content %}